:root {
  --branding-color-1: #f38089;
  --branding-color-2: #9263cb;
  --branding-color-3: #6dc9c9;
}

.container {
  max-width: 1125px;
  margin: 0 auto;
}

.nav-container {
  padding: 0 80px;
}

.content-container {
  padding: 20px 80px;
}

nav {
  background-color: var(--branding-color-1);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 50px;
  margin-right: 35px;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: Montserrat-SemiBold;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav a.active {
  color: var(--branding-color-3);
}

header {
  background-image: url(/images/banner.jpg);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 60px;
}

footer {
  background-color: var(--branding-color-3);
}

h1 {
  font-size: 17px;
  font-family: Lato-Bold;
  margin-top: 30px;
  margin-bottom: 20px;
  opacity: 60%;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat-SemiBold;
}

h2 {
  font-size: 18px;
  font-family: Montserrat-Medium;
  margin: 0;
}

h4 {
  color: white;
  font-family: Montserrat-SemiBold;
  font-size: 18px;
}

h5 {
  font-family: Montserrat-SemiBold;
  font-size: 16px;
  margin: 18px;
}

p {
  opacity: 60%;
  line-height: 1.2;
  font-family: Lato-Regular;
  font-size: 17px;
}

.grid p {
  font-size: 14px;
}

#logo {
  width: 302px;
  margin-left: 20px;
}

.more-info {
  background-color: var(--branding-color-2);
  text-align: center;
  color: white;
  padding: 10px;
}

.read-more {
  font-family: Lato-Bold;
  font-size: 14px;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

.safety {
  color: var(--branding-color-2);
}

.friendship {
  color: var(--branding-color-1);
}

.fresh-start {
  color: var(--branding-color-3);
}

.social-media-icon {
  background-color: white;
  border-radius: 50px;
  max-width: 25px;
  margin-left: 8px;
  margin-top: 15px;
  transition: all 100ms ease-in-out;
}

.social-media-icon:hover {
  background-color: var(--branding-color-2);
}
