:root {
  --branding-color-1: #f38089;
  --branding-color-2: #9263cb;
  --branding-color-3: #6dc9c9;
  --primary-font-regular: Lato-Regular;
  --primary-font-bold: Lato-Bold;
  --secondary-font-regular: Montserrat-Medium;
  --secondary-font-bold: Montserrat-SemiBold;
}

.container {
  max-width: 1125px;
  margin: 0 auto;
}

.content-container {
  padding: 20px 80px;
}

.nav-container {
  margin: 0 50px;
}

nav {
  background-color: var(--branding-color-1);
}

nav .social-media-icon {
  margin-top: 10px;
}

nav li {
  margin-right: 24px;
  font-family: var(--secondary-font-bold);
}

nav a,
footer a {
  text-decoration: none;
}

header {
  background-image: url(/images/banner.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 80px;
}

main p a.friendship:hover {
  background-color: #f1c0c4;
}

footer {
  background-color: var(--branding-color-3);
}

h1 {
  font-size: 17px;
  font-family: var(--primary-font-bold);
  margin-top: 30px;
  margin-bottom: 20px;
  opacity: 60%;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font-bold);
}

h2,
h4 {
  font-size: 18px;
}

h2 {
  font-family: var(--secondary-font-regular);
  margin: 0;
}

h4 {
  color: white;
}

h5 {
  font-size: 16px;
  margin: 18px;
}

p {
  opacity: 60%;
  line-height: 1.2;
  font-family: var(--primary-font-regular);
  font-size: 17px;
}

.grid p {
  font-size: 14px;
}

#logo {
  width: 302px;
}

.more-info {
  background-color: var(--branding-color-2);
  text-align: center;
  color: white;
  padding: 10px;
}

.read-more {
  font-family: var(--primary-font-bold);
  font-size: 14px;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

.safety {
  color: var(--branding-color-2);
}

.friendship {
  color: var(--branding-color-1);
}

.fresh-start {
  color: var(--branding-color-3);
}

.social-media-icon {
  background-color: white;
  border-radius: 50px;
  max-width: 25px;
  margin-left: 8px;
  margin-top: 15px;
  transition: all 100ms ease-in-out;
}

.social-media-icon:hover {
  background-color: var(--branding-color-2);
}

@media (max-width: 992px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-align: center;
  }

  h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  h2 {
    font-size: 14px;
  }

  h4,
  p {
    font-size: 13px;
  }

  .grid p {
    font-size: 12px;
  }

  .grid-icon {
    margin-top: 25px;
  }

  #logo {
    width: 302px;
    margin-left: 20px;
  }

  .more-info {
    padding: 5px;
  }

  .read-more {
    font-size: 14px;
  }

  #logo {
    width: 150px;
    margin: 0;
  }

  .content-container {
    padding: 20px;
  }

  header {
    padding: 30px;
  }

  nav li {
    font-size: 12px;
    padding: 4px;
    margin-right: 0;
    line-height: 14px;
  }

  footer h4 {
    text-align: center;
  }

  footer .social-media-icons {
    text-align: center;
  }
}
